#switch {
  position: relative;
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: 2.5rem;
  width: max-content;

  & input[type="checkbox"] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }

  & > span {
    position: relative;
    width: 1.875rem;
    height: 1.25rem;
    background: var(--content-tertiary);
    border-radius: 1rem;

    & button {
      all: unset;
      border-radius: 50%;
      position: absolute;
      width: .875rem;
      height: .875rem;
      background-color: var(--content-primary);
      z-index: 1;
      
      right: 13px;
      top: 50%;
      translate: 0 -50%;

      transition: right 200ms;
    }
  }

  & label {
    font: 400 .75rem/1.5 var(--inter);
  }

  &:has(:checked) {
    & > span {
      background: var(--gradient-background);
      
      & button {
        right: 3px;
      }
    }
  }
}
